<!DOCTYPE html>
<html>
<head>
    <title>Registro | SmartFoodSafe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">

<div class="container mt-5 col-md-4">
    <h2 class="text-center mb-4">📝 Crear cuenta</h2>

    <form method="post">
        {% csrf_token %}
        <input class="form-control mb-3" name="username" placeholder="Usuario" required>
        <input class="form-control mb-3" type="email" name="email" placeholder="Email">
        <input class="form-control mb-3" type="password" name="password" placeholder="Contraseña" required>
        <button class="btn btn-success w-100">Registrarse</button>
    </form>

    <p class="text-center mt-3">
        ¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a>
    </p>
</div>

</body>
</html>
